['Ramesh age is 20', 'Suresh age is 25', 'Satish age is 30']

In [6]:
#what is zip. it means combine
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i in zip(names,age):
    print(i)

('Ramesh', 20)
('Suresh', 25)
('Satish', 30)

In [7]:
for i,j in zip(names,age):
    print(i, j)

Ramesh 20
Suresh 25
Satish 30

**Dictionary**
- in above example both are together we can pair them
- Dictionary is called as key-value pair

In [9]:
d1={'Ramesh':20, 'Suresh':40}

In [10]:
d1

{'Ramesh': 20, 'Suresh': 40}

In [11]:
list1=[20,40]
d1={'Ramesh':list1, 'Suresh':40}

In [12]:
d1

{'Ramesh': [20, 40], 'Suresh': 40}

In [13]:
list1=(20,40)
d1={'Ramesh':list1, 'Suresh':40}

In [14]:
d1

{'Ramesh': (20, 40), 'Suresh': 40}

In [16]:
d5={'Ramesh':20,'Ramesh':20}
d5

{'Ramesh': 20}

*latest value takes if both key are same like database

- Keys cannot be duplicate but values can be
- Dictionaries are immutable. Cannot change the keys

In [17]:
d14={'Fruites':{'APple':20}}
d14

{'Fruites': {'APple': 20}}

In [18]:
dict2={'Apple':20,'apple':30}
dict2

{'Apple': 20, 'apple': 30}

In [19]:
dict3={20:'Apple',30:'Banana',50:'Cherry'}
dict3

{20: 'Apple', 30: 'Banana', 50: 'Cherry'}

In [44]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
dict2={'Apple':20,'apple':30}
dict3={60:'Apple',30:'Banana',50:'Cherry'}
dict4={}
max(dict1)
list(reversed(dict1))

['Cherry', 'Banana', 'Apple']

In [47]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
'Apple':20 in dict1

SyntaxError: illegal target for annotation (3536331997.py, line 2)

In [51]:
for i in range(0,len(dict1)):
    print(i)

0
1
2

In [59]:
for i in dict1:
    print(f'{i}:{dict1[i]}')

Apple:20
Banana:30
Cherry:10

In [60]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
for key in dict1:
    value=dict1[key]
    print(f'{key}:{value}')

Apple:20
Banana:30
Cherry:10

In [61]:
d={'Fruites':['Apple','Banana','Cherry']}
#get chrry
for key in d:
    val=d[key][2]
    print(val)

Cherry

In [79]:
d={'Fruites':{'Apple':['sweet','sour','green']}}
for key in d:
    val=d[key]

In [75]:
d={'Fruits':[{'cost':[50]}]}
d['Fruits'][0]['cost'][0]

50

In [81]:
d={'Fruits':['Apple'],'COst':[{'1kg':[20,30,40],'2kg':None}]}
d

{'Fruits': ['Apple'], 'COst': [{'1kg': [20, 30, 40], '2kg': None}]}

In [93]:
d['COst'][0]['1kg'][2],d['COst'][0]['2kg']

(40, None)

In [95]:
d={'Fruits':{'Orange':{'Nagpur':{'MH':{'king':{'Shivaji':{'Shambaji'}}}}}}}
d

{'Fruits': {'Orange': {'Nagpur': {'MH': {'king': {'Shivaji': {'Shambaji'}}}}}}}

In [101]:
d['Fruits']['Orange']['Nagpur']['MH']['king']['Shivaji']

{'Shambaji'}

**How to create a empy dictionary**

In [102]:
#list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [105]:
#string
str1=""
str1=str1+'p'
str1=str1+'y'
str1

'py'

In [107]:
#dictionary
d={}
d['Ramesh']=10
d['SUresh']=20
d['Satish']=30
d

{'Ramesh': 10, 'SUresh': 20, 'Satish': 30}

In [112]:
names=['Ramesh','Suresh','Satish']
age=[10,20,30]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 10, 'Suresh': 20, 'Satish': 30}

**Dictionary comprehension**

In [113]:
{i:j for i,j in zip(names,age)}

{'Ramesh': 10, 'Suresh': 20, 'Satish': 30}

**Dictionary**
-Keys
-values
-clear
-copy
-items

In [125]:
d={'Fruits':{'Orange':{'Nagpur':{'MH':{'king':{'Shivaji':{'Shambaji'}}}}}}}
s1=d['Fruits']['Orange']['Nagpur']['MH']['king']['Shivaji']
s2=list(s1)[0]
s2

'Shambaji'

In [122]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
keys=d.keys()
keys

dict_keys(['Ramesh', 'Suresh', 'Satish'])

**convert dictionary to list **
- In order to convert to list
- first seperate keys and values
- then apply list type casting

In [126]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
keys=d.keys()
list(keys)

['Ramesh', 'Suresh', 'Satish']

list === string using join
string === list using split
list === dict using zip
dict === list using type casting list

In [127]:
values=d.values()
list(values)

[20, 25, 30]

In [128]:
d.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Satish', 30)])

In [129]:
list(d.items())

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [175]:
input1='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#output={'Firstname:['Virat','rohit','dhoni']'}
list1=input1.split(';')
fname=[]
sname=[]
cname=[]
d={}
for i in list1:
    email=i.split('@')
    name = email[0].split('.')
    ename=email[1].split('.')
    fname.append(name[0])
    sname.append(name[1])
    cname.append(ename[0])
d['fname']=fname
d['sname']=sname
d['cname']=sname
d

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['kohli', 'sharma', 'dhoni']}

In [177]:
for i in list1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)

In [179]:
d

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['kohli', 'sharma', 'dhoni']}

In [187]:
d.pop('fname')

['virat', 'rohit', 'ms']

In [192]:
d.popitem()

('sname', ['kohli', 'sharma', 'dhoni'])

In [193]:
d

{}

In [194]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
d.get('Ramesh')

20

In [195]:
d['Ramesh']

20

In [199]:
d1={'Ramesh':20,'Suresh':25,'Satish':30}
d2={'Rahul':40}
d1.update(d2)
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Rahul': 40}

In [200]:
list1=['Ramesh','Suresh']
list2=[20,40]
list1.extend(list2)
list1

['Ramesh', 'Suresh', 20, 40]

In [201]:
d1={'Ramesh':20,'Suresh':25,'Satish':30}

In [207]:

d1.setdefault('Manish',30)
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Manish': None}

In [208]:
d1={'Ramesh':20,'Suresh':20,'Satish':20}
d1.fromkeys(d1)

{'Ramesh': None, 'Suresh': None, 'Satish': None}

In [211]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [210]:
d1

{'Ramesh': 20, 'Suresh': 20, 'Satish': 20}