**List comprehension**

- write list operations in a single line
- when we apply for loop and if-else condition statements then code complilation becomes slow

- in order to avoid time complexity we will use list comprehesion
- List comprehension is a single line code

In [1]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
input1=['hyd','bengaluru','pune','mumbai']
output=[i.capitalize() for i in input1]
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [12]:
input1=['hyd','bengaluru','pune','mumbai']
output=[i.upper() for i in input1]
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [33]:
input1=['hyd','bengaluru','pune','mumbai']
summ=0
output=[summ:=summ+i for i in range(1,11)][-1]
summ
output

55

**walrus operator**

In [ ]:
input1=['hyd','bengaluru','pune','mumbai']
summ=0
output=[summ:=summ+i for i in range(1,11)][-1]
summ
output

In [34]:
#even number
even_list=[i for i in range(1,10) if i%2==0]

In [35]:
even_list

[2, 4, 6, 8]

In [36]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']
input1=['hyd','ben#galuru','pune','mu#mbai']
output=[i for i in input1 if '#' in i]

In [37]:
output

['ben#galuru', 'mu#mbai']

In [38]:
input1=['hyd','ben#galuru','pune','mu#mbai']
output=[i for i in input1 if '#' not in i]
output

['hyd', 'pune']

In [42]:
[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

In [43]:
#no elif in list comprehension*
#Represent it as else+if
list1=[45,55,65,75,85,95]
[f'A grade:{i}' if i>85 else f'B grade:{i}' if i>60 else f'C grade:{i}' for i in list1]

['C grade:45',
 'C grade:55',
 'B grade:65',
 'B grade:75',
 'B grade:85',
 'A grade:95']

In [25]:
marks = [45, 76,89,53,67,90,82,49,33,99]
[f'student passed: {marks.index(i)}' for i in marks if i >=50]

['student passed: 1',
 'student passed: 2',
 'student passed: 3',
 'student passed: 4',
 'student passed: 5',
 'student passed: 6',
 'student passed: 9']

In [35]:
marks = [45, 76,89,53,67,90,82,49,33,99]
[f'Grade A: {i}' if i>=85 else f'Grade B: {i}' if i>=70 else f'Grade C: {i}' if i>=50 else f'Grade F: {i}' for i in marks]

['Grade F: 45',
 'Grade B: 76',
 'Grade A: 89',
 'Grade C: 53',
 'Grade C: 67',
 'Grade A: 90',
 'Grade B: 82',
 'Grade F: 49',
 'Grade F: 33',
 'Grade A: 99']

In [41]:
marks = [45, 76,89,53,67,90,82,49,33,99]
print('Top 3 scores')
[f'Student index {marks.index(i)}: Score {i}' for i in marks if i>=85]

Top 3 scores

['Student index 2: Score 89',
 'Student index 5: Score 90',
 'Student index 9: Score 99']

In [43]:
marks = [45, 76,89,53,67,90,82,49,33,99]
max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)

99
90
89

In [39]:
marks = [45, 76,89,53,67,90,82,49,33,99]
count=0
[f'Student{marks.index(i)}:Marks{i+5}' for i in marks if i<50]

['Student0:Marks50', 'Student7:Marks54', 'Student8:Marks38']

In [44]:
marks = [45, 76,89,53,67,90,82,49,33,99]
summ=0
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

In [46]:
#distance between two points
import math
l1=[10,20]
l2=[30,40]
#find distance between l2 with all points from l1 which is max distance?
#sqrt (x2-x1)**2 - (y2-y1)**2 - called Euclidean distance
d1=l2[0]-l1[0] #X2-x1
d1_sq=math.pow(d1,2)
d2=l2[1]-l1[1] #X2-x1
d2_sq=math.pow(d2,2)
summ=d1_sq+d2_sq
math.sqrt(summ)

28.284271247461902

In [47]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

28.284271247461902

In [56]:
import math
l1=[10,20]
l2=[20,40]
summ=0
for i in range(len(l2)):
    print(i)
    d1_sq=l2[i]-l1[i]
    summ=summ+math.pow(d1_sq,2)
    print(summ)

0
100.0
1
500.0