**** OOPS Concents ***

- basic representation
- In built function
    - sum
    - max
    - min
    - print
    type
    len
    -sorted
- concatenation
- indexing
- mutable or immutable comcept
- slice
- methods

In [1]:
name = 'python'
name

'python'

In [2]:
print(name)

python

In [4]:
str1="i love 'python'"

print(str1)

i love 'python'

In [5]:
name = 'python'
type(name)

str

In [6]:
len('pthon')

5

In [7]:
max(4)

TypeError: 'int' object is not iterable

In [8]:
max(1, 5)

5

In [9]:
min(10,4)

4

In [14]:
num = [10, 4, 6, 7]
sum(num)

27

In [15]:
max(num)

10

In [16]:
sorted(num)

[4, 6, 7, 10]

In [17]:
reversed(num)

In [18]:
list(reversed(num))

[7, 6, 4, 10]

In [23]:
for i in 'pyhon':
    print(ord(i), i)

112 p
121 y
104 h
111 o
110 n

In [24]:
sorted('pyhon')

['h', 'n', 'o', 'p', 'y']

**iterable - Anything using loop

In [25]:
sorted(reversed('python'))

['h', 'n', 'o', 'p', 't', 'y']

**Note
/ before dont use argument name
/ after you can use argument nAME
* indicates no need to maintain order of argumwnts

In [26]:
def add(a, /, *, b, c):
    print(a+b+c)
add(10,c=10, b=20)

40

In [29]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [31]:
reversed('prashant')

In [34]:
str1='hello'
str2='python'
str1+str2
str1*str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

**Slice**
it has similar analogy like loop range
range(start,stop,step)  str[start:stop:step]

h  e  l  l  o    h  o  w     a  r  e     y  o  u
0  1  2  3  4  5 6  7  8  9  10 11 12 13 14 15 16
-17                                            -1

In [1]:
str1='hello how are you'
str1[:5]

'hello'

In [4]:
str1[6:]

'how are you'

In [7]:
str1='hello how are you'
str1[-3:]

'you'

In [8]:
str1[-15:10]

'llo how '

In [9]:
#where i am standing
#where its stopping
#step is positive or negative whoch direction
str1[2:-5:2]

'lohwa'

In [10]:
str1[::-1]

'uoy era woh olleh'

In [11]:
num=12345
int(str(num)[::-1])

54321

**Methods**

In [12]:
name='python'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

** upper Method **

In [14]:
str1='welcome'
str1.upper()

'WELCOME'

In [15]:
str1.lower()

'welcome'

In [16]:
str1.title()

'Welcome'

In [17]:
str1.capitalize()

'Welcome'

In [18]:
str1.casefold()

'welcome'

In [23]:
str1='python'
str1.center(12,'*')

'***python***'

**Strip**
lstrip
rstrip
remove chars

In [24]:
str1='  python  '
str2='**pythn**'
str3='  python**'
str1.strip()

'python'

In [26]:
str2.lstrip('*')

'pythn**'

In [27]:
str3.rstrip('*')

'  python'

In [34]:
str1='python'
str1.startswith('p')

True

**Count**

In [40]:
str1='ola ola ola'
l=len(str1)
count=0
for i in range(0,l):
    if str1[i]=='a':
        count=count+1
        print(i)
print(count)
print(l)

2
6
10
3
11

In [38]:
str1.count('a')

3

In [41]:
#-11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#o   l   a      o   l  a     o  l  a
#o  l  a     o  l  a     o  l  a
#0  1  2  3  4  5  6  7  8  9  10
str1.count('a',4)

2

In [52]:
print(str1)
#start 4 positive direction stop 6-1 = 5

ola ola ola

In [56]:
str1.count('a',-4,11)

1

In [61]:
str1='ola ola ola'
str1[0:3]

'ola'

In [66]:
count=0
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1
print(count)

3

**Replace**

In [71]:
str1='welcome'
str1.replace('e','E',2)

'wElcomE'

In [72]:
str1='restart'
for i in range(len(str1)):
    if str1[i]=='r':
        break
str1.replace('r','$',1)

'$estart'

In [74]:
str1='restart'
s1=str1[0:5]
s2=str1[5:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [79]:
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index method**

In [98]:
str1='restart restart'
i1=str1.index('r')
i2=str1.index('r',i1+1) #1=0+1 (previous index +1)
i3=str1.index('r',i2+1)  #6=5+1
i4=str1.index('r',i3+1)  #9=8+1
print(i1)
print(i2)
print(i3)
print(i4)

0
5
8
13

In [105]:
str1.find('r',9)

13

In [ ]:
i1=str1.index('r')

upper

- lower

- title

- capitalize

- casefold

- center

- rstrip

- lstrip

- strip

- startswith

In [110]:
str1="hell how are you"
str1.startswith('h')

True

Practice
- count

- replace

- find

- index

In [112]:
str1="hell how are you"
str1.count('h')

2

In [113]:
str1.replace('h','H',2)

'Hell How are you'

In [114]:
str1.find('h')

0

In [115]:
str1.index('a')

9

In [116]:
str1[2:5:2]

'l '

In [134]:
str1='virat.kohli@rcb.com'
str2='rohit.sharma@mi.com'
str3='ms.dhoni@csk.com'
id1=str1.index('.')
print('first name', str1[0:id1])
id2=str1.index('@')
print('Last name', str1[id1+1:id2])
id3=str1.index('.',id2+1)
print('company', str1[id2+1:id3])

def first(str1):
    id1=str1.index('.') 
    return str1[0:id1]

def last(str1):
    id1=str1.index('.')
    id2=str1.index('@')
    return str1[id1+1:id2]

def company(str1):
    id2=str1.index('@')
    id3=str1.index('.',id2+1)
    return str1[id2+1:id3]

print('First', first(str2))
print('Last', last(str2))
print('Comapny', company(str2))

first name virat
Last name kohli
company rcb
First rohit
Last sharma
Comapny mi

In [136]:
str1='hai how are you'
l=str1.split(' ')
l

['hai', 'how', 'are', 'you']

In [137]:
' '.join(l)

'hai how are you'

In [139]:
'**'.join(l)

'hai**how**are**you'

In [1]:
str1='the telephone numer us 123456'
str1.split(' ')

['the', 'telephone', 'numer', 'us', '123456']

In [2]:
str1[4:]

'telephone numer us 123456'

In [14]:
str1='the telephone numer us 123456'
str2=''
for i in str1: 
    boo = i.isdigit()
    if boo == True:
        str2=str2+i
print(str2)

123456